<html xmlns:th="http://www.thymeleaf.org">

<div th:include="header"></div>


<div class="container create-group">
    <h2>Create group</h2>
    <form th:action="@{/group/create}" th:object="${new_group}" method="post">
        <div class="form-group">
            <label for="Groupname">Group name:</label>
            <input type="text" class="form-control" id="Groupname" placeholder="Groupname" th:field="*{groupname}">
        </div>
        <div class="create-btn">
            <button type="submit" class="btn btn-secondary btn-sm">create</button>
        </div>
    </form>
</div>
<div th:include="footer"></div>